<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<title>CSS3 background-size</title>

<style>
body
{
	font-family: sans-serif;
	font-size: 90%;
	color: #e74c3c;
	background: url(../images/sport-wall.jpg) 50% 50% no-repeat #393;
	background-size: auto;
}

h1
{
	font-weight: normal;
	color: #e74c3c;
}

h2
{
	font-weight: normal;
	color: #c0392b;
}

p
{
	margin: 0;
}

code
{
	float: right;
	font-size: 1.2em;
	padding: 1px 4px;
	background-color: #eee;
}

div.sheep
{
	clear: both;
	height: 300px;
	margin: 0 auto 40px auto;
	background: url(../images/sport-wall.jpg) 50% 50% no-repeat #393;
	background-size: auto;
	border: 5px solid #060;
	border-radius: 5px;
}

div.sheep.resize
{
	background-size: 100px;
}

div.sheep.resizewh
{
	background-size: 100px 250px;
}

div.sheep.width
{
	background-size: 50% auto;
}

div.sheep.height
{
	background-size: auto 100%;
}

div.sheep.cover
{
	background-size: cover;
}

div.sheep.contain
{
	background-size: contain;
}

div.sheep.three
{
	background: 
		url(http://www.ssfrebaudengo.it/jupgrade/images/stories/istockphoto_3572701-sports-silhouette-collection.jpg) 60% 90% no-repeat,
		url(http://www.ssfrebaudengo.it/jupgrade/images/stories/istockphoto_3572701-sports-silhouette-collection.jpg) 40% 50% no-repeat,
		url(http://www.ssfrebaudengo.it/jupgrade/images/stories/istockphoto_3572701-sports-silhouette-collection.jpg) 10% 20% no-repeat #393;
	background-size: 240px 210px, auto, 150px;
}
</style>

</head>
<body>

<h1>What About Us</h1>
<h2>We are working to create a brilliant new sports resource!</h2>

</div>

</body>
</html>


