<div class="jumbotron">
	<h1>Do you know anything about <i>sports</i>?</h1>
	<h2> <b>No?</b>  We'll teach you!</h2>
	Click here to <%= link_to "Sign Up", "#", class: "btn btn-primary btn-lg" %>
</div>